p,
.Footer,
h1 {
  color: white;
}
body {
  background-color: black;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100vh;
  width: auto;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.header h1 {
  font-size: 90px;
}
img {
  height: 350px;
  width: 500px;
}

.header {
  display: flex;
  align-items: center;

  gap: 3vw;
  height: 25vh;
}

button {
  margin-left: 15px;
  margin-right: 15px;

  font-size: 40px;
  font-weight: bold;
  height: 50px;
  width: 150px;
  border-radius: 10%;
}

.homeMainDiv {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}
.homeMainDiv h1 {
  text-align: left;

  font-size: 70px;
}

.textoEimg {
  display: flex;
  gap: 50px;
}
p {
  font-size: 30px;
  width: 40vw;
}

.Footer {
  border: 1px solid white;
}

/*
menu
*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
menu h1 {
  font-size: 100px;
}
.menu img {
  width: 300px;
  height: 300px;
}
.cardapio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.prato {
  font-size: 15px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.prato p {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
